:root {
  --primary: #f2e9e4;
  --secondary: #c9ada7;
  --mid-color: #9a8c98;
  --dark-color: #4a4e69;
  --text-color: #22223b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary);
}

h1,
h2,
h4,
label {
  color: var(--text-color);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.section {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.values {
  background-color: var(--primary);
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.values label {
  display: flex;
  align-items: center;
  width: 100%;
  text-indent: 0.5rem;
}
.values input[type="checkbox"] {
  display: none;
}
.values input[type="checkbox"]:checked + label {
  background-color: var(--dark-color);
}
